<%= render "banner", page_title: @list.name, page_url: "https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" %>



<hr>
<h4> All the movies in the list</h4>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item">
      <%= bookmark.movie.title %>
      <%= link_to 'delete', bookmark_path(bookmark), data: { turbo_method: 'delete', turbo_confirm: 'sure?'} %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to 'New list', new_list_path %>
<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>


